body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u607 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u608 {
  position:absolute;
  left:2px;
  top:17px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u609 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u610 {
  position:absolute;
  left:0px;
  top:50px;
  width:120px;
  height:30px;
  color:#FFFFFF;
}
#u611 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u612 {
  position:absolute;
  left:0px;
  top:80px;
  visibility:hidden;
}
#u612_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u612_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u613 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u614 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u615 {
  position:absolute;
  left:0px;
  top:30px;
  width:120px;
  height:30px;
}
#u616 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u617 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u618 {
  position:absolute;
  left:0px;
  top:80px;
  width:120px;
  height:30px;
  color:#FFFFFF;
}
#u619 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u620 {
  position:absolute;
  left:0px;
  top:110px;
  visibility:hidden;
}
#u620_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u620_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u621 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u622 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u623 {
  position:absolute;
  left:0px;
  top:30px;
  width:120px;
  height:30px;
}
#u624 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u625 {
  position:absolute;
  left:0px;
  top:60px;
  width:120px;
  height:30px;
}
#u626 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u627 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u628 {
  position:absolute;
  left:0px;
  top:110px;
  width:120px;
  height:30px;
  color:#FFFFFF;
}
#u629 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u630 {
  position:absolute;
  left:0px;
  top:140px;
  visibility:hidden;
}
#u630_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u630_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u631 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u632 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u633 {
  position:absolute;
  left:0px;
  top:30px;
  width:120px;
  height:30px;
}
#u634 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u635 {
  position:absolute;
  left:0px;
  top:60px;
  width:120px;
  height:30px;
}
#u636 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u637 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u638 {
  position:absolute;
  left:0px;
  top:140px;
  width:120px;
  height:30px;
  color:#FFFFFF;
}
#u639 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u640 {
  position:absolute;
  left:0px;
  top:170px;
  visibility:hidden;
}
#u640_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u640_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u641 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u642 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u643 {
  position:absolute;
  left:0px;
  top:30px;
  width:120px;
  height:30px;
}
#u644 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u645 {
  position:absolute;
  left:0px;
  top:60px;
  width:120px;
  height:30px;
}
#u646 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u647 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u648 {
  position:absolute;
  left:0px;
  top:170px;
  width:120px;
  height:30px;
  color:#FFFFFF;
}
#u649 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u650 {
  position:absolute;
  left:0px;
  top:200px;
  visibility:hidden;
}
#u650_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u650_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u651 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u652 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u653 {
  position:absolute;
  left:0px;
  top:30px;
  width:120px;
  height:30px;
}
#u654 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u655 {
  position:absolute;
  left:0px;
  top:60px;
  width:120px;
  height:30px;
}
#u656 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u657 {
  position:absolute;
  left:152px;
  top:75px;
  width:140px;
  height:40px;
}
#u658 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u659 {
  position:absolute;
  left:152px;
  top:140px;
  width:1132px;
  height:95px;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u661 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:30px;
}
#u662 {
  position:absolute;
  left:176px;
  top:0px;
  width:251px;
  height:30px;
}
#u663 {
  position:absolute;
  left:2px;
  top:7px;
  width:247px;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u664 {
  position:absolute;
  left:427px;
  top:0px;
  width:250px;
  height:30px;
}
#u665 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u666 {
  position:absolute;
  left:677px;
  top:0px;
  width:225px;
  height:30px;
}
#u667 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  word-wrap:break-word;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u668 {
  position:absolute;
  left:902px;
  top:0px;
  width:225px;
  height:30px;
}
#u669 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  word-wrap:break-word;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u670 {
  position:absolute;
  left:0px;
  top:30px;
  width:176px;
  height:30px;
}
#u671 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:30px;
}
#u672 {
  position:absolute;
  left:176px;
  top:30px;
  width:251px;
  height:30px;
}
#u673 {
  position:absolute;
  left:2px;
  top:7px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u674 {
  position:absolute;
  left:427px;
  top:30px;
  width:250px;
  height:30px;
}
#u675 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u676 {
  position:absolute;
  left:677px;
  top:30px;
  width:225px;
  height:30px;
}
#u677 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u678 {
  position:absolute;
  left:902px;
  top:30px;
  width:225px;
  height:30px;
}
#u679 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u680 {
  position:absolute;
  left:0px;
  top:60px;
  width:176px;
  height:30px;
}
#u681 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:30px;
}
#u682 {
  position:absolute;
  left:176px;
  top:60px;
  width:251px;
  height:30px;
}
#u683 {
  position:absolute;
  left:2px;
  top:7px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u684 {
  position:absolute;
  left:427px;
  top:60px;
  width:250px;
  height:30px;
}
#u685 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u686 {
  position:absolute;
  left:677px;
  top:60px;
  width:225px;
  height:30px;
}
#u687 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u688 {
  position:absolute;
  left:902px;
  top:60px;
  width:225px;
  height:30px;
}
#u689 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u690 {
  position:absolute;
  left:1054px;
  top:87px;
  width:93px;
  height:16px;
}
#u691 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u692 {
  position:absolute;
  left:1075px;
  top:177px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u693 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u694 {
  position:absolute;
  left:1125px;
  top:177px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u696 {
  position:absolute;
  left:1175px;
  top:177px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u697 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u698 {
  position:absolute;
  left:1225px;
  top:177px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u700 {
  position:absolute;
  left:915px;
  top:175px;
  width:60px;
  height:22px;
  color:#FFFFFF;
}
#u701 {
  position:absolute;
  left:2px;
  top:3px;
  width:56px;
  word-wrap:break-word;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u702 {
  position:absolute;
  left:915px;
  top:205px;
  width:60px;
  height:22px;
  color:#FFFFFF;
}
#u703 {
  position:absolute;
  left:2px;
  top:3px;
  width:56px;
  word-wrap:break-word;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u704 {
  position:absolute;
  left:1075px;
  top:207px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u705 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u706 {
  position:absolute;
  left:1125px;
  top:207px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u707 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u708 {
  position:absolute;
  left:1175px;
  top:207px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u709 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u710 {
  position:absolute;
  left:1225px;
  top:207px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u711 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u712 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:488px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u713 {
  position:absolute;
  left:336px;
  top:240px;
  width:723px;
  height:488px;
}
#u714 {
  position:absolute;
  left:2px;
  top:236px;
  width:719px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:415px;
}
#u715 {
  position:absolute;
  left:368px;
  top:299px;
  width:663px;
  height:415px;
}
#u716 {
  position:absolute;
  left:2px;
  top:200px;
  width:659px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  height:2px;
}
#u717 {
  position:absolute;
  left:336px;
  top:282px;
  width:723px;
  height:1px;
}
#u718 {
  position:absolute;
  left:2px;
  top:-8px;
  width:719px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u719 {
  position:absolute;
  left:352px;
  top:256px;
  width:57px;
  height:16px;
}
#u720 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u721 {
  position:absolute;
  left:1018px;
  top:249px;
  width:30px;
  height:30px;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u722 {
  position:absolute;
  left:2px;
  top:-1px;
  width:26px;
  word-wrap:break-word;
}
#u723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u723 {
  position:absolute;
  left:444px;
  top:175px;
  width:20px;
  height:20px;
}
#u724 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u725 {
  position:absolute;
  left:444px;
  top:205px;
  width:20px;
  height:20px;
}
#u726 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:488px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u728 {
  position:absolute;
  left:336px;
  top:240px;
  width:723px;
  height:488px;
}
#u729 {
  position:absolute;
  left:2px;
  top:236px;
  width:719px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  height:2px;
}
#u730 {
  position:absolute;
  left:336px;
  top:282px;
  width:723px;
  height:1px;
}
#u731 {
  position:absolute;
  left:2px;
  top:-8px;
  width:719px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u732 {
  position:absolute;
  left:352px;
  top:256px;
  width:57px;
  height:16px;
}
#u733 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u734 {
  position:absolute;
  left:1018px;
  top:249px;
  width:30px;
  height:30px;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u735 {
  position:absolute;
  left:2px;
  top:-1px;
  width:26px;
  word-wrap:break-word;
}
#u736 {
  position:absolute;
  left:431px;
  top:249px;
  width:91px;
  height:27px;
}
#u736_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u737 {
  position:absolute;
  left:546px;
  top:256px;
  width:71px;
  height:20px;
  color:#000000;
  text-align:right;
}
#u738 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:right;
}
#u739 {
  position:absolute;
  left:652px;
  top:255px;
  width:99px;
  height:20px;
  color:#FF0000;
  text-align:right;
}
#u740 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:301px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u741 {
  position:absolute;
  left:371px;
  top:302px;
  width:623px;
  height:301px;
}
#u742 {
  position:absolute;
  left:2px;
  top:142px;
  width:619px;
  visibility:hidden;
  word-wrap:break-word;
}
#u743 {
  position:absolute;
  left:371px;
  top:631px;
  width:91px;
  height:27px;
}
#u743_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
