<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyhl.gotosea.core.comm.dao.TCustContactInfoMapper" >
  <resultMap id="BaseResultMap" type="com.hyhl.gotosea.core.comm.po.TCustContactInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="cust_id" property="custId" jdbcType="VARCHAR" />
    <result column="fans_num" property="fansNum" jdbcType="INTEGER" />
    <result column="concern_num" property="concernNum" jdbcType="INTEGER" />
  </resultMap>
</mapper>