<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
         

<mapper namespace="com.hyhl.gotosea.core.order.dao.OrderDao">

    <resultMap id="OrderResultMap" type="com.hyhl.gotosea.core.order.po.Order">
        <id property="id" column="id" javaType="int" jdbcType="INTEGER"/>
        <result property="word" column="word" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>
    
    <select id="selectAll" resultMap="OrderResultMap">
        select * from tkeyword
    </select>
    
    <insert id="insert" parameterType="com.hyhl.gotosea.core.order.po.Order">
        insert into tkeyword (id,word) values(#{id},#{word})
    </insert>

</mapper>
